{% extends 'base.html' %}

{% block title %}Отзывы{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="feedbacks-list">
            <h2>Отзывы наших клиентов</h2>
            {% if feedbacks %}
                {% for feedback in feedbacks %}
                    <div class="feedback-item">
                        <div class="feedback-header">
                            <div class="feedback-user-info">
                                {% if feedback.user.photo %}
                                <img src="{{ feedback.user.photo.url }}">
                                {% else %}
                                <img src="{{ default_image }}">
                                {% endif %}
                                <span class="feedback-user">{{ feedback.user.username }}</span>
                            </div>
                            <div class="feedback-meta">
                                <span class="feedback-date">{{ feedback.created_at|date:"d.m.Y H:i" }}</span>
                                {% if user == feedback.user %}
                                    <a href="{% url 'edit_feedback' feedback.id %}" class="edit-feedback-btn">Редактировать</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="feedback-message">{{ feedback.message }}</div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Пока нет отзывов. Будьте первым!</p>
            {% endif %}
</div>
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}
        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-num">
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %} 